body {
  font-family: "Quicksand", sans-serif;
  background-color: #d2eff8;
  color: #38598b;
}
/*
Color palette:
Fisrt color: #d2eff8
Second color: #6585ee
Third color: #38598b
Fourth color: #113f67
*/
